body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  background-color: #F3CAC1;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

.content {
  flex: 1;
  padding: 20px;
}

h1, h2 {
  text-align: center;
  color: #333;
}

.form input {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #D0DC3D;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  display: block;
  margin: 10px auto;
}

button:hover {
  background-color: #45a049;
}

.dashboard-cards, .staff-list, .vehicle-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-card {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  width: 80%;
  text-align: center;
  text-decoration: none;
  color: inherit;
  transition: box-shadow 0.3s;
}

.dashboard-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
